body {
    background: #fff;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
}
img {
    max-width: 100%;
    height: auto;
}
h1 {
    font-size: 25px;
}
.container {
    max-width: 500px;
    padding: 10px
}
.logo {
    max-width: 100px;
    margin: auto;
}
a.btn {
    display: block;
    border: 2px solid #ffb300;
    margin: 10px auto;
    border-radius: 0;
    padding: 10px;
}
a.btn:hover {
    border: 2px solid #ffb300;
    background: #ffb300;
}